/* TODO -- update font from CDN (or locally?) */
@font-face {
    font-family: 'FontAwesome';
    src: url('http://fortawesome.github.io/Font-Awesome/assets/font-awesome/fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('http://fortawesome.github.io/Font-Awesome/assets/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('http://fortawesome.github.io/Font-Awesome/assets/font-awesome/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('http://fortawesome.github.io/Font-Awesome/assets/font-awesome/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('http://fortawesome.github.io/Font-Awesome/assets/font-awesome/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('http://fortawesome.github.io/Font-Awesome/assets/font-awesome/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    background-color: #F6F7F1;
    color: #41463D;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.screen {
    -webkit-transition: left 200ms;
    transition: left 200ms;
    background: white;
    bottom: 0;
    display: block;
    left: 100%;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 100%;
}
.screen.visible { left: 0%; }
.screen.base_screen { left: 0%; }

.screen .nav {
    height: 30px;
    background: lightgray;
    padding: 0 20px
}

.screen .nav .back.button { font-size: 20px; }
.screen .nav .back.button::after {
    content: '\f053';
    font-family: 'FontAwesome';
    padding: 10px;
}

.screen .scrollable_container {
    bottom: 50px;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: 0;
    top: 30px;
}

.screen .footer {
    border-top: 1px solid gray;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 1;
}

.screen .footer .button {
    background: green;
    border-radius: 7px;
    color: white;
    display: inline-block;
    height: 30px;
    margin: 10px;
}

.header {
    background: white;
    border-bottom: 3px solid rgba(204,210,176,0.7);
    color: #668346;
    font-size: 27px;
    font-weight: 600;
    padding: 30px 0 15px 30px;
}

#map_canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
#map_canvas .control_container {
    bottom: 0;  
    left: 0;
    position: absolute;
    right: 0;
    margin: 10px 15px;
}

#map_canvas .tooltip {
    bottom: 60%;
    display: none;
    left: 15px;
    margin: 0 -50% 65px -50%;
    position: absolute;
    text-align: center;
    width: 100%;
}
#map_canvas .tooltip::after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    content: '';
    height: 0; 
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 0; 
}
#map_canvas .tooltip.visible { display: block; }

#map_canvas .tooltip .store_item {
    background: white;
    box-shadow: 3px 3px 5px gray;
    margin: 0 15px;
}

#map_canvas .list_view_toggle {
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    display: inline-block;
}
#map_canvas .list_view_toggle::before {
    padding: 5px;
    line-height: 20px;
    font-family: FontAwesome;
    content: '\f0ca';
    display: block;
    font-size: 20px;
}

#map_canvas .list_view_container {
    border-top: 3px solid rgb(224, 224, 224);
    bottom: 0;
    display: none;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: 0;
}
#map_canvas .list_view_container.visible {
    display: block;
    max-height: 45%;
    background-color: white;
    padding-bottom: 50px;
}
#map_canvas .store_item {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
#map_canvas .store_item:first-child {
    padding-top: 20px;
}

#map_canvas .store_item .bike_categories {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

#map_canvas .store_item .bike_category::after {
    border-radius: 15px;
    border: 1px solid gray; 
    color:  gray;
    font-family: 'FontAwesome';
    padding: 3px
}
#map_canvas .store_item .bike_category.standard::after { content: '\f06c'; }
#map_canvas .store_item .bike_category.mountain::after { content: '\f1fe'; }
#map_canvas .store_item .bike_category.racing::after   { content: '\f018'; }
#map_canvas .store_item .bike_category.other::after    { content: '\f206'; }

