<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link href="css/style.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/moments_view.js"></script>

    </head>
    <body>
        <div class="header fixed">Moments</div>
        <div class="body"><div id="moments_body_container"></div></div>
    </body>

    <script id="tpl_moment_single" type="text/template">
        <div class="moment_single">
            <div class="heading">
                <div class="name_container">
                    <div class="username"><%- d.username %></div>
                    <% _.each(d.members, function (membername) { %>
                        <div class="membername"><%- membername %></div>
                    <% }); %>
                </div>
                <div class="moment_meta"><%- d.location_name %>, <%- d.posted_on %></div>
                <div class="description"><%- d.description %></div>
            </div>
            <div class="photos_window">
                <div class="photos_container">
                    <% _.each(d.photos, function (photo) { %>
                        <div class="single_photo">
                            <img class="moment_photo" src="<%- photo.src %>">
                            <div class="comments_container">
                                <div class="snap_count"><%- photo.snaps %></div>
                                <% _.each(photo.comments, function (comment) { %>
                                    <div class="comment">
                                        <div class="username"><%- comment.username %></div>
                                        <%- comment.comment %>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </script>

</html>

