<div class="body_container">
    <div class="panel header">
        <div class="panel_content clearfix">
            <h1>CityCruzer</h1>
            <div class="header_links">
                <div class="header_link"><a href="#about">About</a></div>
                <div class="header_link"><a href="#faq">FAQ</a></div>
                <div class="header_link"><a href="#contact">Contact</a></div>
            </div>
        </div>
    </div>

    <div class="panel hero_container">
        <div class="panel_content">
            <h2>Comming soon!</h2>
            <h3>Sign up to be the first to know.</h3>
            <form>
                <input placeholder="janedoe@citycruzer.com">
                <button type="submit">submit</button>
            </form>
        </div>
    </div>

    <div class="panel about clearfix">
        <div class="panel_content">
            <div class="about_tile"><div class="wrapper">
                <div class="heading">Convinient Locations</div>
                <div class="body">Our rental locations are intersperced througout the city for easy access</div>
            </div></div>
            <div class="about_tile"><div class="wrapper">
                <div class="heading tachometer">Hourly booking</div>
                <div class="body">Our rental locations are intersperced througout the city for easy access</div>
            </div></div>
            <div class="about_tile"><div class="wrapper">
                <div class="heading cog">No Maintinance</div>
                <div class="body">Our rental locations are intersperced througout the city for easy access</div>
            </div></div>
        </div>
    </div>

    <div class="panel footer">
        <div class="panel_content">Copyright 2015, Citycruzer Inc.</div>
    </div>
</div> <%# .body_container %>


