<div class="body_container">
    <div class="panel header">
        <div class="panel_content clearfix">
            <h1>CityCruzer</h1>
            <div class="header_links">
                <div class="header_link"><a>About</a></div>
                <div class="header_link"><a>FAQ</a></div>
                <div class="header_link"><a>Contact</a></div>
            </div>
        </div>
    </div>

    <div class="panel hero_container">

        <div class="panel_content sign_up_form">
            <div class="signup_copy">Be the first in your city.</div>
            <form>
                <input class="email_input" placeholder=" jane@citycruzer.com">
                <input class="zip_input" placeholder="zip" maxlength="5">
                <button type="submit" disabled="disabled">Join Us</button>
            </form>
        </div>

        <div class="hero_panels_wrapper"><div class="hero_panels">
            <div class="panel_one">
                <div class="panel_content">
                    <div class="subheader">Hourly bike rentals starting at $2/hr!</div>
                    <div class="headline">A spin class for the <em>adventurous</em>.</div>
                </div>
            </div>

            <div class="panel_two">
                <div class="panel_content">
                    <div class="subheader">Hourly bike rentals starting at $2/hr!</div>
                    <div class="headline"><em>Explore</em> your city by the hour.</div>
                </div>
            </div>

            <div class="panel_three">
                <div class="panel_content">
                    <div class="subheader">Hourly bike rentals starting at $2/hr!</div>
                    <div class="headline">Complete errands with ease.</div>
                </div>
            </div>
        </div></div>

    </div>

    <div class="panel about clearfix">
        <div class="panel_content">
            <div class="about_tile"><div class="wrapper">
                <div class="heading">Convinient Locations</div>
                <div class="body">Our rental locations are intersperced througout the city for easy access</div>
            </div></div>
            <div class="about_tile"><div class="wrapper">
                <div class="heading tachometer">Hourly booking</div>
                <div class="body">Our rental locations are intersperced througout the city for easy access</div>
            </div></div>
            <div class="about_tile"><div class="wrapper">
                <div class="heading cog">No Maintinance</div>
                <div class="body">Our rental locations are intersperced througout the city for easy access</div>
            </div></div>
        </div>
    </div>

    <div class="panel footer">
        <div class="panel_content">Copyright 2015, Citycruzer Inc.</div>
    </div>
</div> <%# .body_container %>


