body {
    margin: 0;
}

.scrollable_body {
    height: 100%;
    overflow: scroll;
    position: fixed;
    width: 100%;
}

.scrollable_body.locked {
    overflow: hidden;
}

#moments_body_container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-top: 67px;
}

.header.fixed {
    transition: height 200ms;
    background-color: orange;
    box-sizing: border-box;
    color: white;
    font-size: 36px;
    height: 65px;
    padding-top: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.header.fixed.collapsed {
    height: 10px;
}

.moment_single {
    padding: 30px 0 5px 0;
}

.heading {
    margin: 0 18px;
    color: #9B9B9B;
}

.heading .name_container .username {
    color: black;
    letter-spacing: 1.7px;
    font-weight: 600;
    display: inline-block;
}

.heading .name_container .membername {
    color: darkgray;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
}

.photos_window {
    display: block;
    height: 260px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.photos_container {
    height: 260px;
    position: absolute;
    right: 18px;
}

.photos_container .single_photo {
    transition: transform 700ms, margin 700ms;
    position: absolute;
    top: 0;
}

.photos_container .single_photo:not(.animating):not(.visible) {
    margin: 0 -62px;
    right: -2px;
    transform: scale(0.8, 0.8);
}

.photos_container .single_photo.animating {
    margin: 0;
    right: 0;
    transform: scale(1, 1);
}

.photos_container .single_photo.visible {
    margin: 0;
    transform: scale(1, 1);
}

.photos_container .single_photo img.moment_photo {
    max-height: 260px;
}

.single_photo .comments_container {
    display: none;
}

