<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src

        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        -->

        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Hello World</title>
 
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/lib/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.mobile-1.4.5.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/lib/jquery.mobile-1.4.5.min.css">
        <script type="text/javascript" src="js/lib/underscore-min-1.8.3.js"></script>
        <script type="text/javascript" src="js/lib/backbone-min-1.2.0.js"></script>
        <script type="text/javascript" src="js/lib/fastclick.min.js"></script>
        <script type="text/javascript" src="js/lib/require.js"></script>

        <script>
            requirejs.config({baseUrl: "js"});
            requirejs(['app', 'map_view', 'bike_shop'], function (app) {
                app.initialize();
            });
        </script>

    </head>
    <body>
        <div class="screen base_screen visible">
            <div class="header">CityCruzer</div>
            <div id="map_canvas">
                <div id="map_canvas_tooltip" class="tooltip"></div>
                <div class="control_container">
                    <span class="list_view_toggle"></span>
                </div>
                
                <div class="list_view_container"></div>
            </div>
        </div>
        <div class="screen bike_store_landing"></div>
        <div class="screen bike_checkout"></div>
    </body>

    <script type="text/template" id="bike_store_landing">
        <div class="nav"><div class="button back"></div></div>
        <div class="scrollable_container">
            <div class="heading">
                <div class="store_name"><%= bike_shop.get('name') %></div>
                <div class="bike_categories">
                    <% _.each(bike_shop.bike_categories(), function (category) { %>
                        <span class="bike_category <%= category %>"></span>
                    <% }); %>
                </div>
            </div>

            <div class="bike_info_container">
                <% _.each(bike_shop.get('bicycles'), function (bike) { %>
                    <div class="bike_info">
                        <img class="image" src="<%= bike.image %>">
                        <div class="name"><%= bike.name %></div>
                        <div class="bike_category <%= bike.category %>"></div>
                        <%= bike.description %>
                        <div class="pricing">
                            Hourly rate: <%= bike.hourly_rate %><br/>
                            Daily max: <%= bike.daily_rate %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="footer">
            <div class="button reserve_bike" data-cid="<%= bike_shop.cid %>">Reserve</div>
        </div>
    </script>

    <script type="text/template" id="checkout_template">
        <div class="nav"><div class="button back"></div></div>
        <div class="scrollable_container">
            <div class="store_bike_info">
                <div class="store_name"><%= bike_shop.get('name') %></div>
                <div class="bike_info">
                    <img class="image" src="<%= bike.image %>">
                    <div class="name"><%= bike.name %></div>
                    <div class="bike_category <%= bike.category %>"></div>
                    <%= bike.description %>
                    <div class="pricing">
                        Hourly rate: <%= bike.hourly_rate %><br/>
                        Daily max: <%= bike.daily_rate %>
                    </div>
                </div>
            </div>
            <div class="reservation_window">
                <div class="pickup_datetime">
                    <label>Pickup</label>
                    <input class="pickup_input">
                </div>
                <div class="dropoff_datetime">
                    <label>Dropoff</label>
                    <input class="dropoff_input">
                </div>
            </div>
            <div class="pricing_totals">
                <div class="subtotal">
                    <label>Subtotal</label>
                    <input class="subtotal_input">
                </div>
                <div class="maintinance">
                    <label>Maintinance Fee</label>
                    <input class="fee_input" value="1.00">
                </div>
                <div class="total">
                    <label>Total</label>
                    <input class="total_input" value="$100.00">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="button confirm_reservation" data-cid="<%= bike_shop.cid %>">Confirm</div>
        </div>
    </script>

    <script type="text/template" id="tooltip_template">
        <div class="store_item store_link" data-cid="<%= bike_shop.cid %>">
            <div class="store_name"><%= bike_shop.get('name') %></div>
            <div class="bike_categories">
                <% _.each(bike_shop.bike_categories(), function (category) { %>
                    <span class="bike_category <%= category %>"></span>
                <% }); %>
            </div>
        </div>
    </script>

    <script type="text/template" id="list_template">
        <% _.each(markers, function (bike_shop) { %>
            <div class="store_item store_link" data-cid="<%= bike_shop.cid %>">
                <div class="store_name"><%= bike_shop.get('name') %></div>
                <div class="bike_categories">
                    <% _.each(bike_shop.bike_categories(), function (category) { %>
                        <span class="bike_category <%= category %>"></span>
                    <% }); %>
                </div>
            </div>
        <% }); %>
    </script>

</html>
