$green-gray: #E8EDDF;
$bright-green: #8CAE68;
$muted-green: #B6C8A9;
$baby-blue: #C7DBE6;

$text-dark-gray: #41463D;

body {
    background-color: $green-gray;
    color: $text-dark-gray;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.body_container {

    .panel {
        .panel_content {
            margin: 0 auto;
            width: 950px;
        }
    }

    .header {
        background-color: white; // lighten($green-gray, 5%);
        padding: 30px 0 17px 0;

        h1 {
            @include user-select(none);
            cursor: default;
            color: darken($bright-green, 15%);
            float: left;
            font-size: 27px;
            margin: 0;
        }

        .header_links {
            float: right;
            margin-top: 8px;
            .header_link {
                display: inline-block;
                font-size: 10px;
                font-weight: 100;
                letter-spacing: 2px;
                margin: -21px 0;
                padding: 10px 15px;
                text-transform: uppercase;

                a {
                    color: $bright-green;
                    text-decoration: none;
                }

                &::after {
                    @include transition(all 200ms);
                    border-bottom: 4px solid transparent;
                    content: '';
                    display: block;
                    margin: 23px -25% -40px;
                    width: 150%;
                }

                &:last-child { padding: 0 0 0 15px; }
                &:hover { 
                    a { color: darken($bright-green, 15%); }

                    &::after {
                      border-bottom: 4px solid darken($bright-green, 15%);
                    }

                }
           
            }
        }
    }

    .hero_container {
        background-image: image-url("v1/single-bike.jpg");
        background-position: center;
        background-size: cover;
        border-top: 3px solid darken($green-gray, 20%);
        border-bottom: 3px solid darken($green-gray, 20%);
        height: 430px;
    }

    .about {
        margin: 40px 0;
        text-align: center;

        .about_tile {
            box-sizing: border-box;
            float: left;
            padding: 10px;
            width: 33.33%;
        }
            
        .wrapper {
            background-color: white;
            border-radius: 5px;
            padding: 25px 20px;
        }

        .heading {
            font-weight: 600;
            text-transform: uppercase;
            &::after {
              color: $baby-blue;
              content: "\f041";
              display: block;
              font-family: FontAwesome;
              font-size: 40px;
              margin: 15px auto 20px;
            }

            &.user::after {
                content: '\f007';
            }

            &.tachometer::after {
                content: '\f0e4';
            }

            &.cog::after {
                content: '\f085';
            }
        }

    }

    .footer {
        color: lighten($text-dark-gray, 15%);
        font-size: 12px;
        padding: 20px 0 60px 0;
        text-align: right;
        text-transform: uppercase;
    }

    .clearfix::after { 
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }

}

