$green-gray: #E8EDDF;
$baby-blue: #C7DBE6;
$bright-green: #8CAE68;
$muted-green: #B6C8A9;

$text-dark-gray: #41463D;

body {
    background-color: $green-gray;
    color: $text-dark-gray;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.body_container {

    .panel {
        .panel_content {
            margin: 0 auto;
            width: 950px;
        }
    }

    $header-height: 82px;
    .header {
        @include transition(all 300ms);
        box-sizing: border-box;
        height: $header-height;
        padding: 30px 0 17px 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9;

        h1 {
            @include user-select(none);
            cursor: default;
            color: darken($bright-green, 15%);
            float: left;
            font-size: 27px;
            margin: 0 0 0 -20px;
        }

        &.sticky {
            position: fixed;
            background-color: white;
            border-bottom: 3px solid rgba(darken($green-gray, 20%), 0.7);
        }

        .header_links {
            float: right;
            margin: 8px -20px 0 0;
            .header_link {
                $link_shadow: lighten($bright-green, 35%);
                display: inline-block;
                font-size: 12px;
                font-weight: 100;
                letter-spacing: 4px;
                margin: -21px 0;
                padding: 10px 15px;
                min-width: 50px;
                text-align: center;
                text-shadow: 1px 1px rgba($link_shadow, 0.6);

                a {
                    @include transition(opacity 100ms);
                    color: inherit;
                    text-decoration: none;
                    opacity: 0.7;
                }

                &::after {
                    @include transition(background 100ms);
                    border-bottom: 4px solid transparent;
                    content: '';
                    display: block;
                    margin: -57px -28% -40px;
                    height: 80px;
                    width: 150%;
                }

                &:last-child { padding: 0 0 0 15px; }
                &:hover { 
                    cursor: pointer;
                    a {
                        color: darken($bright-green, 15%);
                        opacity: 1;
                    }

                    &::after {
                        @include transition(border 100ms, background 100ms);
                        @include linear-gradient(rgba($link_shadow, 0.0), rgba($link_shadow, 0.4), rgba($link_shadow, 0.6), rgba($link_shadow, 0.6));
                        border-bottom: 4px solid darken($bright-green, 15%);
                    }

                }
           
            }
        }
    }

    .hero_container {
        border-bottom: 3px solid darken($green-gray, 20%);
        height: 470px;
        position: relative;

        .sign_up_form {
            bottom: 70px;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            width: 540px;
            z-index: 1;

            .signup_copy {
                font-size: 13px;
                letter-spacing: 1px;
                margin: 0 auto;
                padding: 10px 20px;
                text-align: left;
                text-shadow: 1px -1px 5px rgba(white, 0.4);
            }

            .email_input, .zip_input {
                @include placeholder { font-weight: 200;  color: lighten($text-dark-gray, 20%); }
                background-color: rgba($green-gray, 0.7);
                border-radius: 2px;
                border: 1px solid transparent;
                box-sizing: border-box;
                color: $text-dark-gray;
                height: 40px;
                outline: none;
                padding: 5px 20px;

                &.invalid {
                    background-color: rgba(237, 223, 223, 0.7);
                    border: 1px solid red;
                    &:focus { background-color: rgba(237, 223, 223, 0.9); }
                }

                &:focus {
                    background-color: rgba($green-gray, 0.9);
                    border: 1px solid $green-gray;
                }
            }

            .email_input { width: 300px; }
            .zip_input { text-align: center; width: 100px; }

            button {
                @include transition(background 200ms, font-weight 200ms);
                background-color: saturate($bright-green, 25%);
                border-radius: 2px;
                border: 1px solid transparent;
                box-sizing: border-box;
                color: white;
                height: 40px;
                margin-left: 10px;
                opacity: 1;
                padding: 10px 20px;

                &::after {
                    @include transition(padding 200ms);
                    content: '\f105';
                    display: inline-block;
                    font-family: FontAwesome;
                    padding-left: 10px;
                    width: 6px;
                }

                &:disabled {
                    color: darken(white, 5%);
                    background-color: saturate($bright-green, 20%);
                    opacity: 0.9;
                }

                &:enabled:hover {
                    background-color: saturate($bright-green, 30%);
                    border: 1px solid saturate($bright-green, 40%);
                    &::after { padding-left: 15px;}
                }

                &:active {
                    @include transition(background 10ms);
                    background-color: saturate($bright-green, 20%);
                    border: 1px solid saturate($bright-green, 20%);
                }

                &:focus {
                    box-shadow: 0 1px 10px lighten($bright-green, 10%);
                    border: 1px solid saturate($bright-green, 40%);
                    outline: none;
                }

            }
        }

        .hero_panels_wrapper {
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
        }

        .hero_panels {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 300%;
            z-index: -1;

            &>div {
                background-color: #FFFEEB;
                background-position: center;
                background-size: cover;
                box-sizing: border-box;
                display: inline-block;
                padding-top: $header-height + 40px;
                float: left;
                height: 100%;
                width: 33.3%;

                &.panel_one { background-image: image-url("v1/o-BIKE-CITY.jpg"); }
                &.panel_two { background-image: image-url("v1/single-bike.jpg"); }
                &.panel_three { background-image: image-url("v1/NiceRideMinnesota.jpg"); }
            }

            &.animate { @include transition(left 500ms ease-out); }

            .headline {
                color: darken($text-dark-gray, 10%);
                text-transform: uppercase;
                letter-spacing: 6px;
                font-weight: 600;
                font-size: 42px;
                width: 540px;
                text-shadow: 1px -1px 10px rgba(white, 0.4);
            }

            .subheader {
                color: rgba($text-dark-gray, 0.8);
                letter-spacing: 2px;
                padding-bottom: 10px;
            }
        }
    }

    .about {
        margin: 40px 0;
        text-align: center;

        .about_tile {
            box-sizing: border-box;
            float: left;
            padding: 10px;
            width: 33.33%;
        }
            
        .wrapper {
            background-color: white;
            border-radius: 5px;
            padding: 25px 20px;
        }

        .heading {
            font-weight: 600;
            text-transform: uppercase;
            &::after {
              color: $baby-blue;
              content: "\f041";
              display: block;
              font-family: FontAwesome;
              font-size: 40px;
              margin: 15px auto 20px;
            }

            &.user::after {
                content: '\f007';
            }

            &.tachometer::after {
                content: '\f0e4';
            }

            &.cog::after {
                content: '\f085';
            }
        }

    }

    .footer {
        color: lighten($text-dark-gray, 15%);
        font-size: 12px;
        padding: 20px 0 60px 0;
        text-align: right;
        text-transform: uppercase;
    }

    .clearfix::after { 
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }

}

